body {
  background-color: rgb(65, 63, 63);
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
}

h1 {
  font-size: 60px;
  margin: 0%;
}

h2 {
  font-size: 40px;
  margin: 0%;
}

h3 {
  font-size: 20px;
  margin: 0%;
}

.rouge {
  color: rgb(196, 26, 91);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.minia {
  height: 2.5rem;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 2px rgb(25, 25, 25);
}

.clic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.clic p:hover {
  cursor: pointer;
  color: black;
  
}

.clic img:hover {
  cursor: pointer;
  background-color: rgb(74, 74, 74);
}

.bouton {
  display: none;
  font-size: 2rem;
}

.shopping {
  height: 1.5rem;
  box-shadow: 0px 0px 5px 2px rgb(25, 25, 25);
  padding: 1em;
}

.connexion {
  padding: 10px;
  border: 2px solid rgb(58, 58, 58);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

section {
  padding: 40px;
  border-bottom: 15px double rgb(56, 56, 56);
}

.externe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.social,
.skills {
  height: 2rem;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(58, 58, 58);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photoID {
  position: relative;
}

.rectangle {
  position: absolute;
  height: 70%;
  width: 75%;
  bottom: 0;
  margin-left: 12.5%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.photo {
  z-index: 10;
}

.pre-grille1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.pre-grille2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jisipa {
  display: flex;
  flex-direction: column;
}

.wido {
  height: 2.5rem;
}

.contour {
  border: 2px solid rgb(58, 58, 58);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.photos {
  display: flex;
  width: 100%;
  height: 300px;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.perform {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.like {
  height: 1rem;
}

@media (max-width: 1300px) {
  body {
    padding: 1rem;
  }

  .left {
    width: 100%;
  }

  .photoID {
    display: none;
  }

  .grille {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 920px) {
  .clic {
    display: none;
  }
  .bouton {
    display: block;
  }
}